<head>
    <link rel="stylesheet" href="/templates/styles.css" />
    <script src="/templates/script.js"></script>
</head>

<body>

    <div class="top">
        <h1>GROUPIE <span class="highlight">TRACKER</span></h1>

        <div class="name-group">
            <a href="https://github.com/0abdelilah" class="names" style="text-decoration: none;">Abelkhadir</a>
            —
            <a href="https://github.com/iallaoui" class="names" style="text-decoration: none;">Iallaoui</a>
        </div>
    </div>

    <!-- Hills moved here -->
    <div class="hills">
        <svg viewBox="0 0 1440 150">
            <path fill="#000" d="M0,100 C360,150 1080,50 1440,100 L1440,150 L0,150 Z"></path>
        </svg>
    </div>

    <div class="bottom">
        <h2>Discover</h2>

        <div class="container">
            {{range $i, $artist := .Artists}}
            <div class="artist">
                <div class="image-text-row">
                    <img src="{{$artist.Image}}" alt="{{$artist.Name}}">
                    <div>
                        <p style="font-size:medium; color: #f8f8f2; font-weight: bold;">{{$artist.Name}} -
                            {{$artist.CreationDate}}</p>
                        </b></b>
                        <p>First Album:
                        <div style="color: #645e75;"> {{$artist.FirstAlbum}}</div>
                        </p>
                    </div>
                </div>

                <div class="buttons">

                    <button onclick="showDialog('LocationsDialog{{$i}}'); displayLocations('{{$i}}')">Locations</button>
                    <dialog id="LocationsDialog{{$i}}">
                        <p id="LocationsPlace{{$i}}">Loading...</p>
                        <button onclick="closeDialog('LocationsDialog{{$i}}')">Close</button>
                    </dialog>

                    <button onclick="showDialog('MembersDialog{{$i}}')">Members</button>
                    <dialog id="MembersDialog{{$i}}">
                        <p>Members: {{$artist.Members}}</p>
                        <button onclick="closeDialog('MembersDialog{{$i}}')">Close</button>
                    </dialog>

                    <button onclick="showDialog('MoreDialog{{$i}}'); displayMore('{{$i}}');">More info</button>
                    <dialog id="MoreDialog{{$i}}">
                        <p style="color: #50fa7b; font-size: 18px; font-weight: bold;">Relations:</p>
                        <p id="RelationPlace{{$i}}">Loading...</p>
                        <p style="color: #50fa7b; font-size: 18px; font-weight: bold;">Concert dates:</p>
                        <p id="DatesPlace{{$i}}">Loading...</p>
                        <button onclick="closeDialog('MoreDialog{{$i}}')">Close</button>
                    </dialog>
                </div>
            </div>
            {{end}}
        </div>
    </div>

</body>